body {
    background: #9D8384;
    display: flex;
    justify-content: center; 
}

.wrapper {
    max-width: 800px;
    margin: 40px;
    width: 100%;
}

.container {
    background: #C3CBB3;
    padding: 20px;
}