body {
    color: #000;
    font-family: 'Trebuchet MS', sans-serif;
}

a {
    color: #FFF;
}

.title-lg {
    font-size: 175%;

}

.title-md {
    font-size: 150%;
}

.title-sm {
    font-size: 125%;
}

.text-sm {
    font-size: 80%;
}